# Entorno virtual
env/
venv/

# Python
__pycache__/
*.pyc

# Base de datos SQLite
db.sqlite3

# VS Code
.vscode/

# Variables de entorno
.env

# Archivos temporales
*.log

# Migraciones compiladas
*.pyo